<% layout('layout') -%>
<form ng-hide="todoAppCtrl.showRegistration" name="loginForm" data-ng-controller="LoginCtrl as login">
	<h1>Sign In</h1>
	<md-input-container>
		<label>Email</label>
		<input minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" type="email" required name="email" ng-model="login.data.email">
	</md-input-container>
	<md-input-container>
		<label>Password</label>
		<input required name="password" type="password" ng-model="login.data.password">
	</md-input-container>
	<md-button clas="md-raised" data-ng-click="login.login(login.data)">Login</md-button>
</form>

<form ng-show="todoAppCtrl.showRegistration" name="registrationForm" data-ng-controller="RegistrationCtrl as registration">
	<h1>Registration</h1>
	<md-input-container>
		<label>Name</label>
		<input minlength="3" maxlength="100" type="text" required name="name" ng-model="registration.data.name">
	</md-input-container>
	<md-input-container>
		<label>Email</label>
		<input minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" type="email" required name="email" ng-model="registration.data.email">
	</md-input-container>
	<md-input-container>
		<label>Password</label>
		<input required name="password" type="password" ng-model="registration.data.password">
	</md-input-container>
	<md-button clas="md-raised" data-ng-click="registration.completeRegistration(registration.data)">Register</md-button>
</form>